# Entorno virtual
venv/
ENV/
env/

# Archivos de dependencias compilados
*.pyc
__pycache__/
*.pyo
*.pyd

# Archivos de configuración locales
.env
*.env

# Archivos de logs
*.log

# Archivos temporales de editores
.vscode/
.idea/
*.swp
*.swo

# Archivos del sistema (Windows / Mac)
.DS_Store
Thumbs.db
